<div class="col-md-12 marTop30">
  <div class="row">
    <div class="col-md-10">
      <div>
    
        <div class="progress marTop10">
          <div id="myProgress">
            <div id="ml-bar" class="bar-grn"></div>
          </div>
        </div>
      </div>
    </div>
   

    <div class="col-md-10 marTop70">
        <table style="width:100%">
            <tr>
                <th class="text-center">Status</th>
                <th class="text-center">Result</th>
            </tr>
            <tr *ngFor="let x of mlStatusList">
                <td class="text-center">{{x.status}}</td>
                <td class="text-center" *ngIf="x.success">
                    <i class="text-center success-mark  glyphicon glyphicon-ok"></i>
                </td>
                <td class="text-center" *ngIf="!x.success">
                    <i class="text-center fail-mark glyphicon glyphicon-ban-circle"></i>
                </td>
            </tr>
        </table>
    </div>
  </div>
</div>
