<div class="container pad50 padding-btm100">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href>INTELLIGENT CONTRACTS-DASHBOARD</a>
        </div>
    </div>
    <toaster-container></toaster-container>
    <div class="tab">
        <button id="fileUploadTab" class="tablinks tabsBgColor" (click)="onClickTabs('fileUploadTab')">File upload</button>
        <button id="ocrTab" class="tablinks" (click)="onClickTabs('ocrTab')">O C R - M L</button>
        <button id="mlTab" class="tablinks" tooltip="To update,delete and insert the existing clause id assignment" placement="bottom"
            show-delay="100" (click)="onClickTabs('assignmentTab')">Clause Id
            <br>Assginment
            <br>Uploads</button>
        <button id="mlTab" class="tablinks" tooltip="To upload the feedback for any changes in assignments and/or data correction"
            placement="bottom" show-delay="100" (click)="onClickTabs('feedBackTab')">Feedback Form</button>
    </div>


    <div id="fileUpload" class="tabcontent tabHeight" *ngIf="fileUploadTab">
        <div class="row">
            <div class="col-md-3">
                <div class="tooltip">Hover over me
                    <span class="tooltiptext">Tooltip text</span>
                </div>
                <h3>Select files</h3>
                <input type="file" name="img" multiple (change)="onChange($event)">
            </div>
        </div>

        <div class="col-md-12">
            <h3>Upload Status</h3>
            <p>Files Count: {{files.length}}</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Select</th>
                        <th width="40%" class="text-center">Name</th>
                        <th>Size</th>
                        <th width="20%" class="text-center">Is Primary</th>
                        <th class="text-center">Actions</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let file of files">
                        <td>
                            <strong>{{file.number}}</strong>
                        </td>
                        <td>
                            <input type="checkbox" value="" (change)="onClickCheckBox(file)">
                        </td>
                        <td>
                            {{file.name}}
                        </td>
                        <td nowrap>{{ file.size/1024/1024 | number:'.2' }} MB</td>

                        <td class="text-center">
                            <label>
                                <input type="radio" id="radio_{{file.id}}" name="is_primary" (change)="onClickRadio(file)">
                            </label>
                        </td>
                        <td nowrap class="text-center">
                            <button type="button" class="btn btn-danger btn-xs" (click)="manageActions(file.id,'delete')">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                        <td class="text-center">
                            <span *ngIf="file.status === 'success'">
                                <i class="success-mark  glyphicon glyphicon-ok"></i>
                            </span>
                            <span *ngIf="file.status === 'fail'">
                                <i class="fail-mark glyphicon glyphicon-ban-circle"></i>
                            </span>

                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="marBot30">
                <div>
                    Queue progress:
                    <div id="myProgress">
                        <div id="bar" class="bar-grn"></div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s" (click)="uploadAllFiles()">
                <span class="glyphicon glyphicon-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s" (click)="cancel()">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s" (click)="cancel()">
                <span class="glyphicon glyphicon-trash"></span> Remove all
            </button>
        </div>
        <div class="col-md-12">
            <div class="col-md-8 marTop70">
                <h4>OCR Status</h4>
                <div class="progress marTop10">
                    <div id="myProgress">
                        <div id="ocr-bar" class="bar-grn"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 marTop70">
                <table style="width:100%">
                    <tr>
                        <th class="text-center">Status</th>
                        <th class="text-center">Result</th>
                    </tr>
                    <tr *ngFor="let x of ocrStatusList">
                        <td class="text-center">{{x.status}}</td>
                        <td class="text-center" *ngIf="x.success">
                            <i class="text-center success-mark  glyphicon glyphicon-ok"></i>
                        </td>
                        <td class="text-center" *ngIf="!x.success">
                            <i class="text-center fail-mark glyphicon glyphicon-ban-circle"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-8 marTop70">
                <h4>ML Status</h4>
                <div class="progress marTop10">
                    <div id="myProgress">
                        <div id="ml-bar" class="bar-grn"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 marTop70">
                <table style="width:100%">
                    <tr>
                        <th class="text-center">Status</th>
                        <th class="text-center">Result</th>
                    </tr>
                    <tr *ngFor="let x of mlStatusList">
                        <td class="text-center">{{x.status}}</td>
                        <td class="text-center" *ngIf="x.success">
                            <i class="text-center success-mark  glyphicon glyphicon-ok"></i>
                        </td>
                        <td class="text-center" *ngIf="!x.success">
                            <i class="text-center fail-mark glyphicon glyphicon-ban-circle"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div id="ocrTab" class="tabcontent" *ngIf="ocrTab">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10 marTop50">
                                        <ocr-tab></ocr-tab>
                </div>

            </div>

        </div>
    </div>

    <!-- <div id="mlTab" class="tabcontent" *ngIf="mlTab">
        <ml-tab></ml-tab>
    </div> -->


    <div id="assignment" class="tabcontent" *ngIf="assignmentTab">
        <div class="col-md-12 marTop30">

            <div class="col-md-4">
                <div>
                    <p>Reference File</p>
                    <a title="Download" download href="/assets/files/reference.pdf" target="_self">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-download-alt"></span> Download
                        </button>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <p>Upload file</p>

                <input type="file" name="img" (click)="uploadRefFile($event)">
            </div>

            <div class="col-md-4">
                <button type="button" class=" disable btn btn-default btn-sm btn-primary btn-md" id="submit-btn" [disabled]="disabled"> S u b m i t
                </button>

            </div>

            <div class="progress marTop10">
                <div id="myProgress">
                    <div id="ml-bar" class="bar-grn"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="feedBack" class="tabcontent" *ngIf="feedBackTab">
        <div class="col-md-12 marTop30">
            <div class="col-md-4">
                <div>
                    <p>Reference File</p>
                    <a title="Download" download href="/assets/files/reference.pdf" target="_self">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-download-alt"></span> Download
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <p>Upload file</p>
                <input type="file" name="img" (click)="uploadRefFile($event)">
            </div>
            <div class="col-md-4">
                <button type="button" class=" disable btn btn-default btn-sm btn-primary btn-md" id="submit-btn" [disabled]="disabled"> S u b m i t
                </button>
            </div>
        </div>
        <div class="progress marTop10">
            <div id="myProgress">
                <div id="ml-bar" class="bar-grn"></div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="myModal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
                    <h4 class="modal-title text-align">Analytics</h4>
                </div>
                <div class="modal-body">
                    <p-table [value]="analyticsData" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Date
                                    <p-calendar [(ngModel)]="toSearchDate" [showIcon]="true" (onSelect)="onSelectDate()"></p-calendar>
                                </th>
                                <th>Count</th>
                            </tr>

                        </ng-template>
                        <ng-template pTemplate="body" let-count>
                            <tr>
                                <td>{{count.date}}</td>
                                <td>{{count.count}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
